@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #343a40 transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
  }

  body {
    overflow: hidden;
    user-select: none;
  }

  input, textarea {
    user-select: text;
  }
}

@layer components {
  .drag-region {
    -webkit-app-region: drag;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }
}
